<html>
<head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Source+Code+Pro" rel="stylesheet">

      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/overwrites.css') }}"  media="screen,projection"/>

  <title>count me up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">count-me-up</h1>

      <div class="row center">
        <h5 id="vote-information" class="header col s12 light"></h5>
      </div>
      <div class="row center">
        <!-- Dropdown Trigger -->

        <form action="vote" method="post" '>
              <div class="input-field col s12">
                <input placeholder="enter your voter id here" name="name">

                <select name="candidate">
                  <option value="" disabled selected>Select your candidate</option>
                  <option value="1">Candidate 1</option>
                  <option value="2">Candidate 2</option>
                  <option value="3">Candidate 3</option>
                  <option value="4">Candidate 4</option>
                  <option value="5">Candidate 5</option>
                </select>
              </div>

              <button class="btn waves-effect waves-light" type="submit">Vote
                <i class="material-icons right">send</i>
              </button>

        </form>


      <br><br>

      </div>

      <div class="row center">
      <table>
        <thead>
          <tr>
              <th data-field="id">Candidate Number</th>
              <th data-field="name">Total Votes Get</th>
              <th data-field="price">Percentage</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>{{results[1]}}</td>
            <td>{{100*results[1]/results.values()|sum}}%</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{results[2]}}</td>
            <td>{{100*results[2]/results.values()|sum}}%</td>
          </tr>
          <tr>
            <td>3</td>
            <td>{{results[3]}}</td>
            <td>{{100*results[3]/results.values()|sum}}%</td>
          </tr>
            <tr>
            <td>4</td>
            <td>{{results[4]}}</td>
            <td>{{100*results[4]/results.values()|sum}}%</td>
          </tr>
            <tr>
            <td>5</td>
            <td>{{results[5]}}</td>
            <td>{{100*results[5]/results.values()|sum}}%</td>
          </tr>
        </tbody>
      </table>

      </div>

      <div class="row center">
      <img src="{{ url_for('static',filename='img/stack.png') }}"/>
      </div>

    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
<script>
	$("#dd-selector").change(function() {
		var selectedCandidate = $("#dd-selector option:selected").text();
		$("vote-information").text = "it looks like you are voting for "+selectedCandidate;
	});
   $(document).ready(function() {
    $('select').material_select();
  });
        

</script>
</body>
</html>