<html>
<head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Source+Code+Pro" rel="stylesheet">

      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/overwrites.css') }}"  media="screen,projection"/>

  <title>count me up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">count-me-up</h1>

      <div class="row center">
        <h5 id="vote-information" class="header col s12 light"></h5>
        <div class="chip">
        <a id="username-label">You are not currently logged in</a>
        </div>

      </div>
      <div class="row center">
        <!-- Dropdown Trigger -->

        <form action="vote" method="post" id='form' onsubmit="return checkValidity();" >
              <div class="input-field col s12">
                <input placeholder="enter your voter id here" name="name" id="name-field">

                <select name="candidate" id="candidate-picker">
                  <option value="" disabled selected>Select your candidate</option>
                  <option value="1">Candidate 1</option>
                  <option value="2">Candidate 2</option>
                  <option value="3">Candidate 3</option>
                  <option value="4">Candidate 4</option>
                  <option value="5">Candidate 5</option>
                </select>
              </div>

              <button class="btn waves-effect waves-light" type="submit">Vote
                <i class="material-icons right">send</i>
              </button>

        </form>


      <br><br>

      </div>

      <div class="row center">
      <table>
        <thead>
          <tr>
              <th data-field="id">Candidate Number</th>
              <th data-field="name">Total Votes Get</th>
              <th data-field="price">Percentage</th>
          </tr>
        </thead>

        <tbody>
        <div id="results">
          {% for result in results %}
          <tr>
            <td id="id-{{result}}">{{result}}</td>
            <td id="vote-{{result}}">{{results[result]}}</td>
            <td id="percentage-{{result}}">{{100*results[result]/results["Total Votes"]}}%</td>
          </tr>
          {% endfor %}

        </div>
        </tbody>
      </table>

      </div>
<footer>
      <div class="row center">
      <h2>stack</h2>
      <img src="{{ url_for('static',filename='img/stack2.png') }}"/>
      </div>
</footer>

    </div>
  </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
<script>
function displayToast(content){
    Materialize.toast(content, 4000)
}

function checkValidity(evt){
  window.alert('ok')
  evt.preventDefault();
  if($("#name-field").text==null){
    displayToast("vote sent")
    return false;
  }
}
$("#candidate-picker").change(function() {
	var selectedCandidate = $("#candidate-picker option:selected").text();
  displayToast(selectedCandidate+" is selected");
});

 $(document).ready(function() {
  $('select').material_select();
});
    
</script>
<script>
window.setInterval(function(){
  /// call your function here

    $.ajax({
      url: "/fetch",
      type: "get",
      success: function(response) {
        var json_response=response
        $.each(response, function( index, value ) {
          $("#vote-"+index).html(value)
          $("#percentage-"+index).html(100*value/response["Total Votes"]+"%")

        });
      },
      error: function(err) {
        window.alert("Can't fetch the results right now.")
        //handle error
      }
    });
  }, 1000);
</script>
<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCWub-u9lHbazMA6UHtexN6vbblAfhT0sE",
    authDomain: "count-me-up-2d6d6.firebaseapp.com",
    databaseURL: "https://count-me-up-2d6d6.firebaseio.com",
    storageBucket: "count-me-up-2d6d6.appspot.com",
    messagingSenderId: "590054947551"
  };
  firebase.initializeApp(config);
</script>

</body>


</body>
</html>