<html ng-app>
<head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}"  media="screen,projection"/>

  <title>count me up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">count-me-up</h1>
      <input placeholder="enter your username here" ng-model="name"> Hello {{ name }}

      <div class="row center">
        <h5 id="vote-information" class="header col s12 light"></h5>
      </div>
      <div class="row center">
        <!-- Dropdown Trigger -->
	  <a class='dropdown-button btn' href='#' data-activates='dd-selector'>Pick Your Candidate</a>

	  <!-- Dropdown Structure -->
	  <ul id='dd-selector' class='dropdown-content'>
	    <li><a href="#!">candidate #1</a></li>
	    <li><a href="#!">candidate #2</a></li>
	    <li><a href="#!">candidate #3</a></li>
	   	<li><a href="#!">candidate #4</a></li>
	   	<li><a href="#!">candidate #5</a></li>
	  </ul>
      <br><br>
      <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Vote</a>

      </div>

      <div class="row center">
      <table>
        <thead>
          <tr>
              <th data-field="id">Candidate Number</th>
              <th data-field="name">Total Votes Get</th>
              <th data-field="price">Percentage</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>{{results[1]}}</td>
            <td>{{100*results[1]/results.values()|sum}}%</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{results[2]}}</td>
            <td>{{100*results[2]/results.values()|sum}}%</td>
          </tr>
          <tr>
            <td>3</td>
            <td>{{results[3]}}</td>
            <td>{{100*results[3]/results.values()|sum}}%</td>
          </tr>
            <tr>
            <td>4</td>
            <td>{{results[4]}}</td>
            <td>{{100*results[4]/results.values()|sum}}%</td>
          </tr>
            <tr>
            <td>5</td>
            <td>{{results[5]}}</td>
            <td>{{100*results[5]/results.values()|sum}}%</td>
          </tr>
        </tbody>
      </table>

      </div>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
<script>
	$("#dd-selector").change(function() {
		var selectedCandidate = $("#dd-selector option:selected").text();
		$("vote-information").text = "it looks like you are voting for "+selectedCandidate;
	});
</script>
</body>
</html>