<html>
<head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Source+Code+Pro" rel="stylesheet">

      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/overwrites.css') }}"  media="screen,projection"/>

  <title>count me up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">login</h1>
      <h1 class="header center orange-text">{{message}}</h1>

      <div class="row center">
        <h5 id="vote-information" class="header col s12 light"></h5>
      </div>
      <div class="row center">
        <!-- Dropdown Trigger -->

        <div class="row">
          <form id='register-form' class="col s12" action='loginsuccess' method='POST'>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" name='email' type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" name='password' type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <!-- Switch -->
            <div class="switch">
              <label>
                log-in
                <input id='switch' type="checkbox" name='login_or_register'>
                <span class="lever"></span>
                register
              </label>
            </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action" id='register-button'>Submit
            <i class="material-icons right">send</i>
            </button>
          </form>
        </div>




      <br><br>

      </div>



      </div>

    </div>
  </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
<script>
  $('#switch').change(function() {
    //This switch is responsible for changing the forms action routeing.
    //I decided to use a simple switch in order to prevent using two different interfaces both for register and
    var status = $(this).is(":checked")
    if(status==true){
      $("#register-form").attr("action", "/register")

    }
    if(status==false){
      $("#register-form").attr("action", "/loginsuccess")
    }
  })



</script>

</body>


</body>
</html>